{% schema %}
{
  
  "name": "Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Select an image to display."
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Choose Gift",
      "default": "Choose Gift"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button 1 URL"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button 2 Text",
      "default": "Button 2"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button 2 URL"
    },
    {
      "type": "text",
      "id": "text_view_1",
      "label": "Text View 1",
      "default": "Top Right Text"
    },
    {
      "type": "text",
      "id": "text_view_2",
      "label": "Text View 2",
      "default": "Center Text"
    }
  ],
  "presets": [
    {
      "name": "Banner Section",
      "category": "Custom"
    }
  ]
}

{% endschema %}
<div 
class= "custom-image-with-buttons">
<div 
class ="image-container">
<img src="{{section.settings.image|image_url:'master' }}"alt ="Professional Image"/>

</div>
</div>

<style>
  image-container{
    position:relative;
  }
  .image-container img{
    width 100%;
    height auto;
  }
</style>

